version: "3"

services:
  ircporn:
    image: magic848/PornServ:latest
    volumes:
      - .:/data
    working_dir: /data
    command: python ircporn.py
     --config /data/config.json
    restart: always